<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <!--css 들어갈 부분-->
  </head>

  <body>
    <h1>Main</h1>
    <p>
      <%= nickname %>
      <a href="/logout">로그아웃</a>
      <% for (let i = 0; i < goal_list.length; i++) { %>
        <div class="goal_list">
          <b> <%= goal_list[i].goal_user %> : </b> <%= goal_list[i].goal_content %> <br />
        </div>
      <!-- &emsp;&emsp; -->
      <% } %>
    </p>

      <!-- 새해 목표 작성하기 -->
      <form action="/write_goal" method="post">
        <label><%= nickname %> 의 한 줄 목표를 적어주세요.</label>
        <br>
        <input type="text" name="goal_content">
        <input type="submit" value="목표 올리기">
      </form>

    <p>
      <%= nickname %>
      <a href="/logout">로그아웃</a>
    </p>

  </body>
</html>
